body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u717 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  display:flex;
}
#u717 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u717_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u718 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
}
#u719 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:7px;
  width:14px;
  height:24px;
  display:flex;
  color:#FFFFFF;
}
#u719 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u719_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u720 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:100px;
  background:inherit;
  background-color:rgba(128, 128, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u721 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:50px;
  width:354px;
  height:100px;
  display:flex;
  font-size:12px;
  color:#F2F2F2;
}
#u721 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u721_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(11, 178, 135, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(11, 178, 135, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u722 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:50px;
  width:60px;
  height:20px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u722 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u722_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(11, 178, 135, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u722.selected {
}
#u722_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u723 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:54px;
  width:25px;
  height:25px;
  display:flex;
}
#u723 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u724 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:100px;
  background:inherit;
  background-color:rgba(128, 128, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u725 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:160px;
  width:354px;
  height:100px;
  display:flex;
  font-size:12px;
  color:#F2F2F2;
}
#u725 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(11, 178, 135, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(11, 178, 135, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u726 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:164px;
  width:60px;
  height:20px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u726 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u726_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(11, 178, 135, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u726.selected {
}
#u726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u727 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:164px;
  width:25px;
  height:25px;
  display:flex;
}
#u727 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u727_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:50px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u728 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:270px;
  width:335px;
  height:50px;
  display:flex;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u728 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u728_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u729_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:100px;
  background:inherit;
  background-color:rgba(228, 0, 0, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u729 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:50px;
  width:55px;
  height:100px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u729 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u729_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:100px;
  background:inherit;
  background-color:rgba(228, 0, 0, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u730 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:160px;
  width:55px;
  height:100px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u730 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u731_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(11, 178, 135, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(11, 178, 135, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u731 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:59px;
  width:60px;
  height:20px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u731 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u731_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(11, 178, 135, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u731.selected {
}
#u731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(11, 178, 135, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(11, 178, 135, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u732 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:167px;
  width:60px;
  height:20px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u732 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u732_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(11, 178, 135, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u732.selected {
}
#u732_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
