body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:376px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:688px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1476 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:-10px;
  width:375px;
  height:688px;
  display:flex;
}
#u1476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1477 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:619px;
  width:375px;
  height:59px;
  display:flex;
}
#u1477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1478 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:27px;
}
#u1479 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:631px;
  width:30px;
  height:27px;
  display:flex;
}
#u1479 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D6AF66;
  text-align:center;
}
#u1480 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:658px;
  width:80px;
  height:20px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D6AF66;
  text-align:center;
}
#u1480 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1481 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
  text-align:center;
}
#u1482 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:658px;
  width:80px;
  height:20px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
  text-align:center;
}
#u1482 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1483 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1484 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u1485 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:643px;
  width:31px;
  height:19px;
  display:flex;
}
#u1485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:14px;
}
#u1486 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:635px;
  width:30px;
  height:14px;
  display:flex;
}
#u1486 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1486_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:6px;
}
#u1487 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:635px;
  width:7px;
  height:6px;
  display:flex;
}
#u1487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1488 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1489 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
  text-align:center;
}
#u1490 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:658px;
  width:80px;
  height:20px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
  text-align:center;
}
#u1490 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1491 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:27px;
}
#u1492 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:631px;
  width:23px;
  height:27px;
  display:flex;
}
#u1492 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u1493 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:631px;
  width:8px;
  height:8px;
  display:flex;
}
#u1493 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1494 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
  text-align:center;
}
#u1495 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:658px;
  width:80px;
  height:20px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
  text-align:center;
}
#u1495 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1495_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1496 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1497 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:11px;
}
#u1498 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:631px;
  width:16px;
  height:11px;
  display:flex;
}
#u1498 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1498_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u1499 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:636px;
  width:25px;
  height:22px;
  display:flex;
}
#u1499 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1499_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:9px;
}
#u1500 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:643px;
  width:8px;
  height:9px;
  display:flex;
}
#u1500 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1500_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u1501 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u1501 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1501_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
}
#u1502 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:7px;
  width:14px;
  height:24px;
  display:flex;
  color:#FFFFFF;
}
#u1502 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1502_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:184px;
  background:inherit;
  background-color:rgba(213, 174, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1503 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:376px;
  height:184px;
  display:flex;
}
#u1503 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1503_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1504 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1505 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:66px;
  width:67px;
  height:60px;
  display:flex;
}
#u1505 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u1506 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:240px;
  width:335px;
  height:50px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u1506 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u1507 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:290px;
  width:335px;
  height:50px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u1507 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u1508 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:240px;
  width:225px;
  height:50px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u1508 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:26px;
}
#u1509 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:302px;
  width:15px;
  height:26px;
  display:flex;
  color:#555555;
}
#u1509 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1509_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u1510 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:190px;
  width:335px;
  height:50px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u1510 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1510_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u1511 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:140px;
  width:335px;
  height:50px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u1511 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1511_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u1512 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:190px;
  width:225px;
  height:50px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u1512 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1512_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u1513 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:140px;
  width:225px;
  height:50px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u1513 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1513_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u1514 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:290px;
  width:225px;
  height:50px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u1514 .text {
  position:absolute;
  align-self:center;
  padding:0px 40px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1514_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
