body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  display:flex;
}
#u698 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u698_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u699_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u699 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u699 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u699_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
}
#u700 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:7px;
  width:14px;
  height:24px;
  display:flex;
  color:#FFFFFF;
}
#u700 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u700_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u701 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:11px;
  width:29px;
  height:21px;
  display:flex;
  font-size:12px;
}
#u701 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u701_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u702 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:100px;
  background:inherit;
  background-color:rgba(128, 128, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u703 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:50px;
  width:354px;
  height:100px;
  display:flex;
  font-size:12px;
  color:#F2F2F2;
}
#u703 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u703_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(11, 178, 135, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(11, 178, 135, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u704 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:54px;
  width:60px;
  height:20px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u704 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u704_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(11, 178, 135, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u704.selected {
}
#u704_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u705 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:54px;
  width:25px;
  height:25px;
  display:flex;
}
#u705 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u705_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(11, 178, 135, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(11, 178, 135, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u706 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:54px;
  width:60px;
  height:20px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u706 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u706_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(11, 178, 135, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u706.selected {
}
#u706_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:100px;
  background:inherit;
  background-color:rgba(37, 116, 202, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:160px;
  width:354px;
  height:100px;
  display:flex;
  font-size:12px;
  color:#F2F2F2;
}
#u708 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u708_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(11, 178, 135, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(11, 178, 135, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:164px;
  width:60px;
  height:20px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u709 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u709_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(11, 178, 135, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u709.selected {
}
#u709_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:164px;
  width:25px;
  height:25px;
  display:flex;
}
#u710 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u710_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:50px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:412px;
  width:335px;
  height:50px;
  display:flex;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u711 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(37, 116, 202, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(11, 178, 135, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:164px;
  width:60px;
  height:20px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u712 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u712_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(37, 116, 202, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u712.selected {
}
#u712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u713 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:100px;
  background:inherit;
  background-color:rgba(37, 116, 202, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
}
#u714 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:274px;
  width:354px;
  height:100px;
  display:flex;
  font-size:12px;
  color:#F2F2F2;
}
#u714 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u714_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(11, 178, 135, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(11, 178, 135, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u715 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:278px;
  width:60px;
  height:20px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u715 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u715_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(11, 178, 135, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u715.selected {
}
#u715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u716 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:278px;
  width:25px;
  height:25px;
  display:flex;
}
#u716 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u716_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
